* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: Cambria;
}

h1,
h2 {
    color: rgb(154, 92, 196);
}

h1 {
    font-size: 80px;
    margin-bottom: 15px;
}

h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

.container {
    width: 1300px;
    margin: 0px auto;
    background-color: aliceblue;
    padding: 0px 20px;
}

.content {
    width: 75%;
    float: left;
}

form {
    width: 25%;
    float: left;
}

input,
textarea {
    display: block;
}

input {
    margin: 20px;
    width: 300px;
    padding: 10px 20px;
}

textarea {
    width: 300px;
    margin-left: 20px;
    padding: 20px;
}

.avatar_image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: left;
}

h4 {
    float: left;
    margin-top: 140px;
    margin-left: 20px;
    font-size: 20px;
}

.info {
    margin-top: 20px;
    padding-bottom: 30px;
}

.date {
    position: relative;
    margin-left: 400px;
}